<div class="row carrito-row">
    <div class="col-sm-2 fav-imagen">
        <a href="{{ item.product.url }}">
            <img class="img-responsive" src="{{ item.image }}"/>
        </a>
    </div>
    <div class="col-sm-5 fav-descripcion">
        <div class="titulo">{{ item.product.name }}</div>
        <div class="precio hidden-xs">{{ item.price | price }} </div>
    </div>
    <div class="col-sm-2 fav-cantidad">
        <div class="input-cantidad">
            <a class="menos" href="javascript:void(0);" onclick="inputCantidadAgregar(false,this);">-</a>
            <input type="text" class="form-control" value="{{ item.quantity }}" name="quantity[{{ item.item }}]"/>
            <a class="mas" href="javascript:void(0);" onclick="inputCantidadAgregar(true,this);">+</a>
        </div>
    </div>
    <div class="col-sm-2 fav-precio">
        {{ (item.price * item.quantity ) | price }}
    </div>
    <div class="col-sm-1 fav-botones">
        <a href="javascript:void(0);" class="favorito-menos delete-product" onclick="removerFilaCarrito(this);" data-slug="{{ item.item }}" data-toggle="tooltip" data-placement="top" title="Quitar del Carrito"/></a>
    </div>
</div>